.root {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  justify-self: flex-start;
}
.link {
  position: relative;
  color: var(--token-4439ul2Gpg_u);
  font-size: var(--token-72eKX2o4bScn);
}
.root:hover .link {
  text-decoration-line: underline;
}
